.card .add {
    border: none;
    background-color: green;
    color: aliceblue;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    margin-bottom: 5px;
}

.card .edit{
    border: none;
    background-color: coral;
    color: aliceblue;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}
.card .delete{
    border: none;
    background-color: red;
    color: aliceblue;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}